{% extends "base.html" %}
{% block title %}The Studio{% endblock %}

{% block content %}
<div id="studioHero">
  <div id="studioSlide" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#studioSlide" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#studioSlide" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#studioSlide" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#studioSlide" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#studioSlide" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="#studioSlide" data-bs-slide-to="5"></button>
    </div>

    <!-- Slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/compressedImg/_53A1217-editfinal-min.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../static/compressedImg/_53A1288-EDIT-min.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../static/compressedImg/_53A1289-EDIT-min.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../static/compressedImg/DJI_0816-edit-min.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../static/compressedImg/DJI_0880-edit-min.jpg" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="../static/compressedImg/IMG_0208-1edit-min.jpg" class="d-block w-100">
      </div>
    </div>

    <!-- Navigation arrows -->
    <button class="carousel-control-prev" type="button" data-bs-target="#studioSlide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#studioSlide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h3 id="studioHeroWords">THE ANTONIO JEFFERSON STUDIO</h3>
</div>

<div id="studioContent">

  <section id="studioBlurb">
    <p>
      The studio is a bright, 1100 sq ft creative space with soaring 15' ceilings and stunning natural light pouring in from oversized windows with amazing Manhattan views, including the Manhattan Bridge. Located on the 7th floor of a newly renovated building with three elevators and 24/7 access, the space includes access to men's and women's restrooms, AC/heat, and a freight elevator.<br>
      <br>
      Our studio is perfect for photoshoots, filming, interviews, pop-ups, art exhibits, classes, castings, rehearsals, events, and more.<br>
      Located in the heart of DUMBO—one of NYC's most inspiring neighborhoods—just one stop from Manhattan. Surrounded by the best restaurants, bars, attractions, and shops, and easily accessible from nearly anywhere.<br>
      Within walking distance, you'll find: TimeOut Market, KITH, DUMBO House, Brooklyn Bridge, Jane's Carousel, The River Café, Juliana's, and Nobody Told Me.<br><br>

      Whether you're building content, showcasing art, or hosting a community event—we've got the space, light, and energy to bring your vision to life.<br>
    </p>
  </section>
  
  <section id="virtualTour">
    <h1>A LOOK INSIDE</h1>
    <iframe id="tour" src="https://my.matterport.com/show/?m=H6Fsj6exxcU&play=2&qs=1&brand=0&f=0&search=0&ts=0&vr=0&dh=0&tour=3" frameborder="0" allowfullscreen allow=""></iframe>
  </section>

  <section id="studioDetails">
    <h1>DETAILS</h1>
    <h5>INCLUDED IN YOUR RENTAL</h5>

    <div id="studioDetailsLists">
      <ul id="studioList1">
        <li>1100 SQ FEET</li>
        <li>7th Floor</li>
        <li>Manhattan View</li>
        <li>15 Ft Ceilings</li>
        <li>High Speed WIFI</li>
        <li>Beautiful Natural Lighting</li>
        <li>Street Parking</li>
      </ul>

      <ul id="studioList2">
        <li>
          Nearby: 5 Minute Walk To F Train (York St),<br>
          10 Minute Walk To A/C Train (High Street-Brooklyn Bridge),<br>
          And 5 Minutes From Manhattan
        </li>
      </ul>
    </div>

    <p>FOR ANY MORE INFORMATION, PLEASE SEND US YOUR REQUEST BY <br>EMAIL AT <a href="mailto:info@antoniojefferson.com">INFO@ANTONIOJEFFERSON.COM</a>, BY PHONE AT 917-215-5100 OR <a href="{{ url_for('contact') }}">CONTACT US</a></p>
  </section>

  <section id="studioImgs">
    <div>
      <img src="../static/images/_53A1217-editfinal.jpg">
      <img src="../static/images/IMG_0211-1edit-min.jpg">
      <img src="../static/images/DJI_0751-edit copy.jpg">
      <img src="../static/images/_53A1288-EDIT.jpg">
    </div>
    <div>
      <img src="../static/images/DJI_0833-edit 2.jpg">
      <img src="../static/images/_53A1383-edit1.jpg">
      <img src="../static/images/IMG_0188-edit.jpg">
      <img src="../static/images/DJI_0880-edit.jpg">
    </div>
  </section>

  <a class="btn" href="{{ url_for('book') }}">BOOK NOW</a>

</div>




{% endblock %}
